extends ../layouts/application.pug

block header
  = t('views.users.edit.header')

block content
  .card
    .card-body.p-5.bg-light
      +formFor()(action=route('updateUser', user.id) method='post')
        +input(user, 'firstName', errors, 'users')(type="text")
        +input(user, 'lastName', errors, 'users')(type="text")
        +input(user, 'email', errors, 'users')(type="text")
        +input(user, 'password', errors, 'users')(type="password")
        +buttonTo(route('updateUser', user.id), 'patch')(class="btn btn-primary" value=t('views.users.edit.send'))
