extends ../layouts/application.pug

block header
  = t('views.statuses.new.header')

block content
  .card
    .card-body.p-5.bg-light
      +formFor()(action=route('statuses') method='post')
        +input(status, 'name', errors, 'statuses')(type="text")
        +submit(status)(value=t('views.statuses.new.create'))
