extends ../layouts/application.pug

block header
  = t('views.labels.new.header')

block content
  .card
    .card-body.p-5.bg-light
      +formFor()(action=route('labels') method='post')
        +input(label, 'name', errors, 'labels')(type="text")
        +submit(label)(value=t('views.labels.new.create'))
