extends ../layouts/application.pug

block header
  = t('views.tasks.new.header')

block content
  .card
    .card-body.p-5.bg-light
      +formFor()(action=route('tasks') method='post')
        +input(task, 'name', errors, 'tasks')(type="text")
        +textarea(task, 'description', errors, 'tasks')(cols="30", rows="3")
        +select(task, 'statusId', errors, 'tasks', statuses)
        +select(task, 'executorId', errors, 'tasks', users)
        +submit(task)(value=t('views.tasks.new.create'))
