extends ../layouts/application.pug

block header
  = t('views.session.new.signIn')

block content
  .card
    .card-body.p-5.bg-light
      +formFor()(action=route('session') method='post')
        +input(signInForm, 'email', errors, 'session')(type="text")
        +input(signInForm, 'password', errors, 'session')(type="password")
        +submit(signInForm)(value=t('views.session.new.submit'))
